.searchBarContainer {
  margin-top: 110px;
}

.searchInput {
  font-size: 40px;
  border: none;
  color: #515151;
  width: 60vw;
  margin-left: 20vw;
}

.searchInput:focus {
  outline-width: 0;
}

.searchLine {
  border-top: 1px solid lightgray;
  width: 60vw;
  margin-left: 20vw;
}


::placeholder {
  color: #B6B6B6;
}

.resultContainer {
  margin: 40px auto auto auto;
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  justify-content: center;
}

.loadingIcon {
  color: aqua;
  text-align: center;
  display: block;
  margin: 17% auto;
  width: 100px;
  height: 100px;
}

.noResultText {
  position: absolute;
  top: 55%;
  left: 47%;
}

.loadMoreIcon {
  width: 50px;
  height: 50px;
  margin: auto;
  position: relative;
  top: -30px;
}
